* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav główny */

nav.mainNav {
    background-color: #1A1A1D;
    height: 50px;
}
nav.mainNav ul {
    display: flex;
    justify-content: space-between;
}
nav.mainNav li {
    list-style: none;
    color: white;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
nav.mainNav i.active {
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

nav.mainNav i.fa-x.inactive {
    display: none;
}

nav.mainNav i.fa-x.active {
    display: block;
    color: white;
    position: fixed;
    z-index: 2;
    top: 14px;
    right: 14px;
}

nav.mainNav i.inactive {
    display: none;
}

/* Menu wysówane */

nav.menuNav {
    flex-direction: row;
}
.menu.active {
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    background-color: black;
    opacity: 0.92;
}

.menu.active nav.menuNav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu.active nav.menuNav ul {
    width: 80%;
}
.menu.active nav.menuNav li {
    list-style: none;
}

.menu.inactive {
    position: absolute;
    left: 110vw;
}

.menu.inactive li {
    list-style: none;
    display: none;
}

.menu.active nav.menuNav a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menu.active nav.menuNav li a h2{
    padding: 10px;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}


.menu.active nav.menuNav li i {
    color: white;
    flex-basis: 20%;
    font-size: 20px;
    padding-right: 10px;
    line-height: 32px;
}


/* Header z zdjęciem */

header {
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: black;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: white;
}

/* Pasek z wyszukiwarką i filtrem */

.search {
    width: 100%;
    height: 10vh;
    background-color: #1a1a1d;
}
.search .searchForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search .searchForm input {
    background-color: #f1f1f6;
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 5px;
    border-radius: 8px;
    flex-basis: 65%;
    height: 6vh;
    max-width: 400px;
}

.searchBnt {
    background-color: #f1f1f6;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    padding: 5px;
    width: 6vh;
    height: 6vh;
}
.searchBnt i {
    font-size: 22px;
}

/* Flitr wysówany */

.filter {
    width: calc(100% - 10px);
    height: 30vh;
    background-color: #1a1a1d;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.filter .wrap {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter .filterBnt {
    height: 80%;
    flex-basis: 50%;
    border: none;
    border-radius: 8px;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter .inputs {
    flex-basis: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter .filterBnt i {
    font-size: 20px;
    margin-right: 10px;
}
.filter .filterBnt h2 {
    font-size: 20px;
    margin-left: 5px;
}
.filter input {
    height: 80%;
    text-align: center;
    border-radius: 8px;
    border: none;
}
.filter input.price {
    width: 40%;
}
.filter input.price:nth-of-type(2),
.filter input.roomNumber:nth-of-type(3) {
    margin-right: 5px;
}
.filter input.roomNumber {
    width: 25%;
}
.filter input.flatType {
    width: 90%;
    margin-right: 5px;
}
.filter.inactive {
    display: none;
}



/* Wyniki wyszukiwania/filtru */

.results .offer {
    width: 80vw;
    margin: 30px auto;
}
.results .offer img {
    width: 80vw;
    height: 25vh;
    object-fit: cover;
    margin-bottom: 3px;
}

.results .offer .content {
    width: 80vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1A1A1D;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.results .offer h2 {
    padding: 10px 10px 0;
    font-size: 30px;
}

.results .offer h3 {
    padding: 0 10px;
    font-size: 20px;
}

.results button {
    display: block;
    border: none;
    margin: 0 auto;
    height: 23%;
    width: 60%;
    background-color: #1A1A1D;
    border: 2px solid white;
    transform: translateX(0);
}
.results a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.results .offer h4 {
    font-size: 16px;
    border-right: 2px solid #fff;
    padding-right: 10px;
}

.results .offer h4:nth-last-of-type(1) {
    padding-left: 30px;
    border: none;
}

.results .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
}

.results .offer i {
    font-size: 20px;
}
.results .showMoreBnt {
    color: white;
    height: 9vh;
    font-size: 22px;
}


/* Stopka */

footer {
    margin-top: 30px;
    width: 100%;
    background-color: #1a1a1d;
    padding: 10px;
}
footer h2 {
    font-family: 'Roboto',sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 3px;
}

@media (orientation: portrait) and (min-width: 280px) {
    header h1 {
        font-size: 35px;
    }

    .search .searchForm input {
        background-color: #f1f1f6;
        border: none;
        padding: 10px;
        font-size: 18px;
        margin-left: 8px;
        margin-right: 5px;
        border-radius: 8px;
        flex-basis: 65%;
        height: 6vh;
        width: 70%;
        max-width: 400px;
    }
    
    .searchBnt {
        background-color: #f1f1f6;
        border: none;
        border-radius: 8px;
        margin-right: 5px;
        padding: 5px;
        width: 6vh;
        height: 6vh;
    }
    .searchBnt i {
        font-size: 22px;
    }


    .results h1 {
        font-size: 35px;
        padding: 20px;
    
    }
    .results .offer h2 {
        font-size: 20px;
    }
    
    .results .offer h3 {
        font-size: 16px;
    }
    .results button {
        height: 25%;
        width: 75%;
    }
    .results a {
        font-size: 20px;
    }
    
    .results .offer h4 {
        font-size: 16px;
    }
    
    .results .offer i {
        font-size: 16px;
    }
}

@media (orientation: portrait) and (min-width: 412px) {
    nav.mainNav {
        height: 60px;
    }
    
    nav.mainNav h1, nav.mainNav i.active {
        font-size: 35px;
        line-height: 60px;
    }

    header h1 {
        font-size: 60px;
    }

    .results .offer h2 {
        font-size: 35px;
    }
    
    .results .offer h3 {
        font-size: 20px;
    }
    
    .results button {
        height: 25%;
        width: 70%;
    }
    .results a {
        font-size: 25px;
    }
    
    .results .offer h4 {
        font-size: 20px;
    }
    
    .results .offer i {
        font-size: 20px;
    }

}

@media (orientation: portrait) and (min-width: 540px) {
    .menu.active {
        width: 60vw;
    }
    .menu.active nav.menuNav {
        width: 80%;
    }

    .results .offer {
        margin: 30px 15vw;
    }
    .results .offer img {
        width: 70vw;
        height: 25vh;
    }
    
    .results .offer .content {
        width: 70vw;
        height: 35vh;
    }
    .results .showMoreBnt {
        height: 9vh;
        font-size: 28px;
        width: 50vw;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    nav.mainNav {
        height: 70px;
    }


    .menu.active {
        width: 60vw;
    }
    .menu.active nav.menuNav {
        width: 80%;
    }
    .menu.active nav.menuNav li a h2 { 
        font-size: 40px;
    }
    .menu.active nav.menuNav li a i { 
        font-size: 35px;
    }

    
    nav.mainNav h1, nav.mainNav i.active {
        font-size: 40px;
        line-height: 70px;
    }



    .search .searchForm input {
        font-size: 30px;
    }


    .filter {
        width: 85%;
        height: 30vh;
        margin: 10px auto;
    }
    .filter .filterBnt {
        height: 80%;
        flex-basis: 50%;
        margin: 0 15px;
    }
    .filter .inputs {
        height: 85%;
    }
    .filter .filterBnt i {
        font-size: 35px;
    }
    .filter .filterBnt h2 {
        font-size: 35px;
    }
    .filter input {
        height: 85%;
        font-size: 25px;
    }


    .results h1 {
        font-size: 70px;
        padding: 30px;
    }
    .results .offer h2 {
        font-size: 50px;
        padding-left: 30px;
    }
    
    .results .offer h3 {
        font-size: 30px;
        padding-left: 30px;
    }

    .results a {
        font-size: 35px;
    }
    
    .results .offer h4 {
        font-size: 30px;
    }
    
    .results .offer i {
        font-size: 30px;
    }

    footer h2 {
        font-size: 30px;
    }
}

@media (orientation: portrait) and (min-width: 820px) {
    nav.mainNav {
        height: 90px;
    }
    nav.mainNav li {
        line-height: 90px;
        padding: 0 20px;
    }
    nav.mainNav li h1{
        line-height: 90px;
        font-size: 50px;
    }
    nav.mainNav i.active {
        font-size: 50px;
        line-height: 90px;

    }


    header h1 {
        font-size: 90px;
    }

    .menu.active nav.menuNav li a h2 { 
        font-size: 50px;
    }
    .menu.active nav.menuNav li a i { 
        font-size: 45px;
    }


    .results .offer h2 {
        font-size: 60px;
        padding-left: 30px;
    }
    
    .results .offer h3 {
        font-size: 40px;
        padding-left: 30px;
    }
    
    .results a {
        font-size: 50px;
    }
    
    .results .offer h4 {
        font-size: 35px;
    }
    
    .results .offer i {
        font-size: 35px;
    }
    .results .showMoreBnt {
        font-size: 40px;
    }

}



@media (orientation: landscape) and (min-width: 640px) {
    .menu.active {
        width: 40vw;
    }
    header {
        height: 70vh;
    }

    .search {
        height: calc(30vh - 50px);
    }
    .search .searchForm input {
        height: 10vh;
        max-width: 350px;
    }
    .searchBnt {
        width: 10vh;
        height: 10vh;
    }


    .filter {
        width: 70%;
        height: 40vh;
        margin: 5px auto;
    }
    .filter .wrap {
        justify-content: space-around;
    }
    .filter .inputs {
        flex-basis: 40%;
        height: 90%;
    }
    .filter input.price {
        width: 35%;
    }
    .filter input.roomNumber {
        width: 25%;
    }
    .filter input.flatType {
        width: 90%;
    }

    .results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .results .offer {
        width: 45vw;
        margin: 30px 0;
    }
    .results .offer img {
        width: 45vw;
        height: 35vh;
    }
    
    .results .offer .content {
        width: 45vw;
        height: 55vh;
    }
    .results .showMoreBnt {
        width: 35vw;
        height: 50px;
    }
}
@media (orientation: landscape) and (min-width: 844px) {    

    .results .offer {
        width: 35vw;
        margin: 30px 0;
    }
    .results .offer img {
        width: 35vw;
        height: 35vh;
    }
    
    .results .offer .content {
        width: 35vw;
        height: 55vh;
    }
    .results .showMoreBnt {
        width: 31vw;
        height: 60px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    nav.mainNav {
        height: 70px;
    }
    
    nav.mainNav h1, nav.mainNav i.active {
        font-size: 35px;
        line-height: 70px;
    }

    header {
        height: 80vh;
    }
    header h1 {
        font-size: 70px;
    }


    .search {
        height: calc(20vh - 70px);
    }
    .search .searchForm input {
        height: 7vh;
        max-width: 400px;
    }
    .searchBnt {
        width: 7vh;
        height: 7vh;
    }


    .filter {
        width: 55%;
        height: 30vh;
        margin: 5px auto;
    }
    .filter .filterBnt {
        height: 75%;
        flex-basis: 50%;
        margin: 0 15px;
    }
    .filter .inputs {
        height: 75%;
    }
    .filter .filterBnt i {
        font-size: 30px;
    }
    .filter .filterBnt h2 {
        font-size: 30px;
    }
    .filter input {
        height: 85%;
        font-size: 20px;
    }


    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 80%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 40px;
    }
    
    .menu.active nav.menuNav li i {
        font-size: 40px;
        padding-right: 20px;
        line-height: 32px;
    }


    .results .offer {
        width: 35vw;
        margin: 30px 0;
    }
    .results .offer img {
        width: 35vw;
        height: 35vh;
    }
    
    .results .offer .content {
        width: 35vw;
        height: 40vh;
    }
    .results .offer .description h2 {
        font-size: 40px;
    }
    .results .offer .description h3 {
        font-size: 22px;
    }
    .results .offer .icons h4 {
        font-size: 22px;
    }
    .results .offer .bntOffer a{
        font-size: 25px;
    }
    .results .showMoreBnt {
        margin-top: 50px;
        width: 31vw;
        height: 80px;
        font-size: 30px;
    }


    footer h2{
        font-size: 24px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-height: 700px){

    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 70%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 30px;
    }
    .menu.active nav.menuNav li i {
        font-size: 30px;
        padding-right: 20px;
        line-height: 32px;
    }

    nav.mainNav {
        height: 60px;
    }
    
    nav.mainNav h1, nav.mainNav i.active {
        line-height: 60px;
    }

    header h1 {
        font-size: 60px;
    }


    .search {
        height: calc(20vh - 60px);
    }

    .filter {
        width: 55%;
        height: 35vh;
        margin: 5px auto;
    }
    .filter .filterBnt {
        height: 70%;
    }
    .filter .inputs {
        height: 75%;
    }
    .filter .filterBnt i {
        font-size: 25px;
    }
    .filter .filterBnt h2 {
        font-size: 25px;
    }
    .filter input {
        height: 80%;
        font-size: 18px;
    }

    .results .offer .description h2 {
        font-size: 30px;
    }
    .results .offer .description h3 {
        font-size: 18px;
    }
    .results .offer .bntOffer a{
        font-size: 20px;
    }
    .results .offer i {
        font-size: 17px;
    }
    .results .offer .icons h4 {
        font-size: 17px;
    }
    .results .showMoreBnt {
        margin-top: 30px;
        font-size: 30px;
    }
}


@media (orientation: landscape) and (min-width: 1300px) {
    nav.mainNav {
        height: 70px;
    }
    nav.mainNav h1, nav.mainNav i.active {
        font-size: 35px;
        line-height: 70px;
    }


    .filter {
        width: 45%;
        height: 30vh;
        margin: 5px auto;
    }
    .filter .filterBnt {
        height: 75%;
        flex-basis: 50%;
        margin: 0 15px;
    }
    .filter .inputs {
        height: 75%;
    }
    .filter .filterBnt i {
        font-size: 30px;
    }
    .filter .filterBnt h2 {
        font-size: 30px;
    }
    .filter input {
        height: 85%;
        font-size: 20px;
    }


    .results {
        width: 100%;
        justify-content: space-around;
    }
    .results .offer {
        width: 30vw;
        margin: 30px 0;
    }
    .results .offer img {
        width: 30vw;
        height: 30vh;
    }
    
    .results .offer .content {
        width: 30vw;
        height: 35vh;
    }
    .results .offer .description h2 {
        font-size: 40px;
    }
    .results .offer .description h3 {
        font-size: 22px;
    }
    .results .offer .icons h4 {
        font-size: 22px;
    }
    .results .offer .bntOffer a{
        font-size: 25px;
    }
    .results .showMoreBnt {
        margin-top: 50px;
        width: 31vw;
        height: 80px;
        font-size: 30px;
    }
    .break {
        flex-basis: 100%;
        height: 0;
      }

}
@media (min-width: 1600px) {

    nav.mainNav {
        height: 60px;
    }
    
    nav.mainNav h1, nav.mainNav i.active {
        font-size: 35px;
        line-height: 60px;
    }

    header {
        height: 80vh;
    }
    header h1 {
        font-size: 70px;
    }


    .search {
        height: calc(20vh - 70px);
    }
    .search .searchForm input {
        height: 7vh;
        max-width: 400px;
    }
    .searchBnt {
        width: 7vh;
        height: 7vh;
    }

    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 70%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 60px;
    }
    
    .menu.active nav.menuNav li i {
        font-size: 60px;
        padding-right: 20px;
        line-height: 32px;
    }


    .newOffers h1 {
        font-size: 80px;
    }
    .newOffers .offer h2 {
        font-size: 55px;
    }
    
    .newOffers .offer h3 {
        font-size: 35px;
    }
    .newOffers button a {
        font-size: 35px;
    }
    .newOffers .offer i {
        font-size: 30px;
    }
    .newOffers .offer h4 {
        font-size: 30px;
    }
}