/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #1A1A1D;
    animation: bodyFixed 5.8s;
}


/* Nav */

nav.mainNav {
    position: fixed;
    z-index: 2;
    top: 0;
    /* animation: showUp 0.5s 4.4s linear both; */
    /* top: -55px; */
    right: 0;
    width: 100%;
}

nav.mainNav ul {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav.mainNav li {
    list-style: none;
    padding: 10px;
}

nav.mainNav i.active {
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    color: rgb(78, 78, 78);
}

nav.mainNav i.fa-x.inactive {
    display: none;
}

nav.mainNav i.fa-x.active {
    display: block;
    color: white;
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
}

nav.mainNav i.inactive {
    display: none;
}

@keyframes showUp {
    100% {
        top: 0;
    }
}

/* menu boczne*/

.menu.active {
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    background-color: black;
    opacity: 0.92;
}

.menu.active nav.menuNav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu.active nav.menuNav ul {
    width: 80%;
}
.menu.active nav.menuNav li {
    list-style: none;
}

.menu.inactive {
    position: absolute;
    left: 110vw;
}

.menu.inactive li {
    list-style: none;
    display: none;
}

.menu.active nav.menuNav a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menu.active nav.menuNav li a h2{
    padding: 10px;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}


.menu.active nav.menuNav li i {
    color: white;
    flex-basis: 20%;
    font-size: 20px;
    padding-right: 10px;
    line-height: 32px;
}
/* Header */

.header {
    height: 100vh;
}

.header .img {
    position: relative;
    background-image: url(/img/cityview.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    top:0;
    left: 0;
}

.header .slogan {
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: 40vh;
    top: 0;
    left: 0;
}

.header .slogan h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px;
    
}

.header .slogan p {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: justify;
    padding: 20px;
}
/* .header .wrap {
    position: relative;
} */
.header .devider {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
}
.header .devider.Down {
    /* top: -18%; */
    bottom: -1%;
    border-bottom: 50px solid #1A1A1D;
    border-left: 100vw solid transparent;
}
.header .devider.Up {
    /* top: -25%; */
    bottom: 0%;
    border-bottom: 65px solid #4E4E50;
    border-left: 100vw solid transparent;
}

/* Wybór */

.choose {
    height: 60vh;
}
.choose .wrapper {
    position: relative;
    height: 75%;
}
.choose h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.choose .chooseBnt {
    position: absolute;
    border: none;
    height: 8vh;
    width: 70vw;
    left: 0;
    transform: translateX(-100vw);
}
.choose button:nth-of-type(1) {
    top: 5%;
    transition: 1s;
}
.choose button:nth-of-type(2) {
    top: 35%;
    transition: 1.5s;
}
.choose button:nth-of-type(3) {
    top: 65%;
    transition: 2s;
}
.choose button:nth-of-type(3).active,
.choose button:nth-of-type(2).active,
.choose button:nth-of-type(1).active {
    left: 50%;
    transform: translateX(-50%);
}
.choose .chooseBnt a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

.choose .chooseBnt i {
    display: block;
    border-right: 3px solid #1A1A1D;
    flex-basis: 25%;
    line-height: 8vh;
    font-size: 20px;
    color: #1A1A1D;
}

.choose .chooseBnt h2 {
    flex-basis: 75%;
    line-height: 8vh;
    font-size: 20px;
    color: #1A1A1D;
}

/* Najnowsze oferty */

.newOffers {
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

.newOffers h1 {
    text-align: center;
    color: #1A1A1D;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;

}

.newOffers .wrap {
    position: relative;
    display: flex;
    flex-direction: row;
}

.newOffers .offer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 0 10vw;
}

.newOffers .wrap div.offer:nth-child(1) {
    left: 0;
}

.newOffers .wrap div.offer:nth-child(2) {
    left: 100vw;
}

.newOffers .wrap div.offer:nth-child(3) {
    left: 200vw;
}

.newOffers .wrap div.offer:nth-child(4) {
    left: 300vw;
}

.newOffers .wrap div.offer:nth-child(5) {
    left: 400vw;
}

.newOffers .wrap div.offer:nth-child(6) {
    left: 500vw;
}

.newOffers .offer img {
    width: 80vw;
    height: 25vh;
    object-fit: cover;
    margin-bottom: 3px;
}

.newOffers .offer .content {
    width: 80vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1A1A1D;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.newOffers .offer h2 {
    padding: 10px 10px 0;
    font-size: 30px;
}

.newOffers .offer h3 {
    padding: 0 10px;
    font-size: 20px;
}

.newOffers button {
    display: block;
    border: none;
    margin: 0 auto;
    height: 23%;
    width: 60%;
    background-color: #1A1A1D;
    border: 2px solid white;
    transform: translateX(0);
}
.newOffers button.active {
    animation: btnShake 3s linear ;
}
@keyframes btnShake {
    0% {
        transform: translateX(0);
    }
    2% {
        transform: translateX(5%);
    }
    4% {
        transform: translateX(-5%);
    }
    6% {
        transform: translateX(5%);
    }
    8% {
        transform: translateX(-5%);
    }
    10% {
        transform: translateX(5%);
    }
    11% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
.newOffers a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.newOffers .offer h4 {
    font-size: 16px;
    border-right: 2px solid #fff;
    padding-right: 10px;
}

.newOffers .offer h4:nth-last-of-type(1) {
    padding-left: 30px;
    border: none;
}

.newOffers .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
}

.newOffers .offer i {
    font-size: 20px;
}

.newOffers .arrow {
    position: absolute;
    font-size: 30px;
    opacity: 0.5;
    padding: 10px;
}

.newOffers .left {
    top: 45%;
    left: 0x;
}

.newOffers .right {
    top: 45%;
    right: 0;
}

/* Sekcja o nas(trzeba nazwy pozmieniać) i id="img1" */

.aboutUs {
    background-color: #1A1A1D;
}

.aboutUs .wrap {
    padding-bottom: 10px;
}

.aboutUs h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.aboutUs .about{
    margin-bottom: 50px;
    transform: translateX(-100vw);
    transition: 1s;
}
.aboutUs .about:nth-of-type(1) {
    transition: 1s;
}
.aboutUs .about:nth-of-type(2) {
    transition: 1.5s;
}
.aboutUs .about:nth-of-type(3) {
    transition: 2s;
}
.aboutUs .about.active{
    transform: translateX(0);
}

.aboutUs .title {
    position: relative;
    height: 30vh;
    width: 80vw;
    margin: 0 auto;
    background-color: black;
}
.aboutUs .title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.aboutUs .title h1{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.aboutUs .content {
    display: none;
    /* height: 30vh; */
    width: 80vw;
    margin: 0 auto;
    background-color: #4E4E50;
    margin-bottom: 0;
    transition: 1s;
}

.aboutUs .content.active {
    display: block;
}

.aboutUs .content p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    padding: 20px;
}

/* Stopka */

footer {
    background-color: #4E4E50;
    padding: 10px 0;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

/* Responsywne na moblie/teblet do 1024px */

@media (orientation: portrait) and (min-width: 280px) {
    .choose {
        height: 60vh;
    }
    .choose h1 {
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;
        padding: 10px;
    }

    .newOffers {
        height: 80vh;
    }
    
    .newOffers h1 {
        font-size: 35px;
        padding: 20px;
    
    }
    .newOffers .offer h2 {
        font-size: 20px;
    }
    
    .newOffers .offer h3 {
        font-size: 16px;
    }
    .newOffers button {
        height: 25%;
        width: 75%;
    }
    .newOffers a {
        font-size: 20px;
    }
    
    .newOffers .offer h4 {
        font-size: 16px;
    }
    
    .newOffers .offer i {
        font-size: 16px;
    }
}
@media (orientation: portrait) and (min-width: 412px) {
    nav.mainNav i.active {
        font-size: 30px;
    }
    
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 35px;
    }
    
    
    .menu.active nav.menuNav li i {
        font-size: 25px;
        padding-right: 10px;
        line-height: 32px;
    }


    .header .slogan h1 {
        font-size: 50px;
        letter-spacing: 2px;
        padding: 15px;
        
    }
    
    .header .slogan p {
        font-size: 20px;
        padding: 30px;
    }

    .choose .chooseBnt {
        height: 8vh;
        width: 80vw;
    }

    .choose .chooseBnt i {
        line-height: 8vh;
        font-size: 25px;
    }
    
    .choose .chooseBnt h2 {
        line-height: 8vh;
        font-size: 25px;
    }


    .newOffers .offer h2 {
        font-size: 35px;
    }
    
    .newOffers .offer h3 {
        font-size: 20px;
    }
    
    .newOffers button {
        height: 25%;
        width: 70%;
    }
    .newOffers a {
        font-size: 25px;
    }
    
    .newOffers .offer h4 {
        font-size: 20px;
    }
    
    .newOffers .offer i {
        font-size: 20px;
    }



    .aboutUs .title h1{
        font-size: 40px;
    }
    
    .aboutUs .content p {
        font-size: 20px;
        padding: 30px;
    }
    
}
@media (orientation: portrait) and (min-width: 540px) {
    .menu.active nav.menuNav {
        width: 80%;
    }
   

    .choose .chooseBnt {
        height: 8vh;
        width: 60vw;
    }


    .newOffers .offer {
        margin: 0 15vw;
    }
    .newOffers .offer img {
        width: 70vw;
        height: 25vh;
    }
    
    .newOffers .offer .content {
        width: 70vw;
        height: 35vh;
    }


    .aboutUs .title {
        height: 30vh;
        width: 70vw;
    }
    
    .aboutUs .content {
        /* height: 30vh; */
        width: 70vw;
    }
}
@media (orientation: portrait) and (min-width: 768px) {
    nav.mainNav i.active {
        font-size: 40px;
    }
    
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 50px;
    }
    
    
    .menu.active nav.menuNav li i {
        font-size: 50px;
        padding-right: 20px;
        line-height: 32px;
    }


    .header .slogan h1 {
        font-size: 70px;
        letter-spacing: 2px;
        padding: 20px;
        
    }
    
    .header .slogan p {
        font-size: 30px;
        padding: 30px;
    }

    .choose h1 {
        font-size: 70px;
        padding: 30px;
    }

    .choose .chooseBnt {
        height: 8vh;
        width: 70vw;
    }

    .choose .chooseBnt i {
        line-height: 8vh;
        font-size: 30px;
        border-right: 4px solid #1A1A1D;
    }
    
    .choose .chooseBnt h2 {
        line-height: 8vh;
        font-size: 30px;
    }

    .newOffers h1 {
        font-size: 70px;
        padding: 30px;
    }
    .newOffers .offer h2 {
        font-size: 50px;
        padding-left: 30px;
    }
    
    .newOffers .offer h3 {
        font-size: 30px;
        padding-left: 30px;
    }

    .newOffers a {
        font-size: 35px;
    }
    
    .newOffers .offer h4 {
        font-size: 30px;
    }
    
    .newOffers .offer i {
        font-size: 30px;
    }
    .newOffers .arrow {
        font-size: 50px;
        padding: 30px;
    }

    .aboutUs h1 {
        font-size: 70px;
        padding: 40px;
    }
    .aboutUs .title h1{
        font-size: 60px;
    }
    
    .aboutUs .content p {
        font-size:30px;
        padding: 30px;
    }
    footer h1 {
        font-size: 30px;
    }
}      
@media (orientation: portrait) and (min-width: 820px) {
    nav.mainNav i.active {
        font-size: 50px;
    }
    
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 60px;
    }
    
    
    .menu.active nav.menuNav li i {
        font-size: 60px;
        padding-right: 20px;
        line-height: 32px;
    }
    
    
    .header .slogan h1 {
        font-size: 80px;
        padding: 20px;
        
    }
    .header .slogan p {
        font-size: 38px;
        padding: 30px;
    }


    .choose .chooseBnt i {
        line-height: 8vh;
        font-size: 40px;
        border-right: 4px solid #1A1A1D;
    } 
    .choose .chooseBnt h2 {
        line-height: 8vh;
        font-size: 40px;
    }

    .newOffers .offer h2 {
        font-size: 60px;
        padding-left: 30px;
    }
    
    .newOffers .offer h3 {
        font-size: 40px;
        padding-left: 30px;
    }

    .newOffers a {
        font-size: 50px;
    }
    
    .newOffers .offer h4 {
        font-size: 35px;
    }
    
    .newOffers .offer i {
        font-size: 35px;
    }

    .aboutUs .content p {
        font-size: 35px;
    }
}


@media (orientation: landscape) and (min-width: 640px) {
    .menu.active {
        width: 40vw;
    }
    
    
    .header .slogan h1 {
        font-size: 40px;
        padding: 0;
    }
    
    .header .slogan p {
        font-size: 16px;
        padding: 0 20px;
        padding: 0 15vw;
        text-align: center;
    }
    
    .choose {
        height: 85vh;
    }
    
    .choose .chooseBnt {
        height: 12vh;
        width: 40vw;
    }
    .choose .chooseBnt h2{
        line-height: 12vh;
    }
    .choose .chooseBnt i{
        line-height: 12vh;
    }


    .newOffers .offer {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0;
        margin: 0 15vw;
    }
    .newOffers {
        height: 100vh;
    }
    .newOffers .offer img {
        width: 30vw;
        height: 55vh;
        margin-right: 3px;
    }
    
    .newOffers .offer .content {
        width: 40vw;
        height: 55vh;
    }


    .aboutUs .title {
        height: 55vh;
        width: 50vw;
    }
    
    .aboutUs .content {
        width: 50vw;
    }
}
@media (orientation: landscape) and (min-width: 844px) {    
    .header .slogan p {
        font-size: 16px;
        padding: 0 15vw;
        text-align: center;
    }
    
    .choose .chooseBnt {
        width: 35vw;
    }
    .choose .chooseBnt h2{
        line-height: 12vh;
    }
    .choose .chooseBnt i{
        line-height: 12vh;
    }


    .aboutUs .title {
        height: 55vh;
        width: 40vw;
    }
    
    .aboutUs .content {
        width: 40vw;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    nav.mainNav i.active {
        font-size: 40px;
    }
    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 80%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 40px;
    }
    
    .menu.active nav.menuNav li i {
        font-size: 40px;
        padding-right: 20px;
        line-height: 32px;
    }



    .header {
        background-color: #F1F1F6;
    }
    .header .img {
        height: 100vh;
        width: 50vw;
        background-position: -200px;
    }
    
    .header .wrap {
        position: absolute;
        top: 20%;
        left: 55%;
        width: 40vw;
    }
    
    .header .slogan h1 {
        font-size: 50px;
        color: #1A1A1D;
    }
    
    .header .slogan p {
        font-size: 20px;
        padding: 20px;
        color: #1A1A1D;
    }



    .choose h1 {
        font-size: 60px;
        padding: 30px;
    }
    .choose .chooseBnt {
        width: 40vw;
    }
    .choose .chooseBnt i{
        font-size: 40px;
    }
    .choose .chooseBnt h2{
        font-size: 40px;
    }


    .newOffers {
        height: 80vh;
    }

    .newOffers h1 {
        font-size: 60px;
    }
    .newOffers .wrap {
        margin-top: 50px;
    }
    .newOffers .offer {
        margin: 0;
    }

    .newOffers .wrap div.offer:nth-child(1) {
        left: 0;
        margin-left: 3vw;
    }
    
    .newOffers .wrap div.offer:nth-child(2) {
        left: 47.5vw;
        margin: 0 3vw;
    }
    
    .newOffers .wrap div.offer:nth-child(3) {
        left: 100vw;
        margin-left: 3vw;
    }
    
    .newOffers .wrap div.offer:nth-child(4) {
        left: 147.5vw;
        margin: 0 3vw;
    }
    
    .newOffers .wrap div.offer:nth-child(5) {
        left: 200vw;
        margin-left: 3vw;
    }
    
    .newOffers .wrap div.offer:nth-child(6) {
        left: 247.5vw;
        margin: 0 3vw;
    }

    .newOffers .offer img {
        width: 20vw;
        height: 45vh;
    }
    
    .newOffers .offer .content {
        width: 26vw;
        height: 45vh;
        display: flex;
        flex-direction: column;
    }
    .newOffers .offer .description {
        margin-top: 20px;
    }

    .newOffers .offer h2 {
        font-size: 35px;
        text-align: center;
    }
    
    .newOffers .offer h3 {
        font-size: 25px;
        text-align: center;
    }
    
    .newOffers button {
        height: 20%;
        width: 70%;
        border: 3px solid white;
    }

    .newOffers a {
        font-size: 22px;
    }
    
    .newOffers .offer h4 {
        font-size: 20px;
        border-right: 2px solid #fff;
        padding-right: 10px;
    }
    
    .newOffers .offer h4:nth-last-of-type(1) {
        padding-left: 30px;
        border: none;
    }
    
    .newOffers .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 10px 10px;
    }
    
    .newOffers .offer i {
        font-size: 20px;
    }
    
    .newOffers .left {
        top: 55%;
        left: 0;
    }
    
    .newOffers .right {
        top: 55%;
        right: 0;
    }





    .aboutUs h1 {
        font-size: 60px;
    }
    .aboutUs .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70vh;
        align-items: center;
    }
    .aboutUs .title {
        height: 35vh;
        width: 30vw;
    }
    .aboutUs .title h1{
        font-size: 40px;
    }
    .aboutUs .content {
        width: 30vw;
    }

    .aboutUs .content p {
        font-size: 20px;
    }

    footer h1{
        font-size: 24px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-height: 700px){
    nav.mainNav i.active {
        font-size: 30px;
    }
    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 70%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 30px;
    }
    
    .menu.active nav.menuNav li i {
        font-size: 30px;
        padding-right: 20px;
        line-height: 32px;
    }
    

    
    .header .slogan {
        height: 45vh;
    }
    .header .slogan h1{
        padding: 10px;
    }

    .choose {
        height:90vh;
    }
    .choose .chooseBnt {
        width: 40vw;
        height: 14vh;
    }
    .choose .chooseBnt i{
        line-height: 14vh;
        font-size: 35px;
    }
    .choose .chooseBnt h2{
        line-height: 14vh;
        font-size: 35px;
    }


    .newOffers .offer h2 {
        font-size: 25px;
    }
    
    .newOffers .offer h3 {
        font-size: 20px;
    }
    .newOffers .offer i {
        font-size: 17px;
    }
    .newOffers .offer h4 {
        font-size: 17px;
    }

    .newOffers .left {
        top: 60%;
        left: 0;
    }
    
    .newOffers {
        height: 90vh;
    }
    .newOffers .right {
        top: 60%;
        right: 0;
    }



    .aboutUs .wrap{
        height: 80vh;
    }
}

@media (min-width: 1200px) {
    .header .slogan h1{
        padding: 20px;
    }
    .header .slogan p{
        font-size: 25px;
    }

    .choose .chooseBnt {
        width: 35vw;
    }

    .aboutUs .content p {
        font-size: 22px;
    }
}

@media (min-width: 1600px) {

    nav.mainNav i.active {
        font-size: 50px;
    }
    .menu.active {
        width: 35vw;
    }
    .menu.active nav.menuNav {
        width: 70%;
    }
    .menu.active nav.menuNav li a h2{
        padding: 10px;
        font-size: 60px;
    }
    
    .menu.active nav.menuNav li i {
        font-size: 60px;
        padding-right: 20px;
        line-height: 32px;
    }


    .header .slogan h1{
        font-size: 70px;
    }
    .header .slogan p{
        font-size: 30px;
    }

    .choose h1 {
        font-size: 80px;
    }


    .newOffers h1 {
        font-size: 80px;
    }
    .newOffers .offer h2 {
        font-size: 55px;
    }
    
    .newOffers .offer h3 {
        font-size: 35px;
    }
    .newOffers button a {
        font-size: 35px;
    }
    .newOffers .offer i {
        font-size: 30px;
    }
    .newOffers .offer h4 {
        font-size: 30px;
    }


    .aboutUs h1 {
        font-size: 80px;
    }
    .aboutUs .title h1 {
        font-size: 60px;
    }
    .aboutUs .content p {
        font-size: 30px;
    }
}